<input type="file" (change)="fileChangeEvent($event)" />
<br />
<br />


<div>
  <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
    [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="4 / 3" [resizeToWidth]="256" format="png"
    (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady($event)"
    (loadImageFailed)="loadImageFailed()">
  </image-cropper>
</div>
<img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />